:root{
    --color-accent-1: rgb(65, 88, 166);
    --color-accent-2: rgb(23, 155, 174);
    --color-main: rgb(241, 222, 198);
    --color-main-2: rgb(255, 131, 67);
}

.container {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: 0.6fr repeat(3, 1fr) 0.3fr;
    margin: 0;
    height: 100vh;
    width: auto;
    background-color: var(--color-accent-2);
}

header {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    background-color: var(--color-main-2);
}

nav {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;

    #Entradas {
        grid-column: 1 / 2;
    }

    #PlatoFuerte {
        grid-column: 2 / 3;
    }

    #Postre {
        grid-column: 3 / 4;
    }

    #Bebidas {
        grid-column: 4 / 5;
    }

    #BotonInicio {
        grid-column: 6 / 7;
    }

    button {
        margin: 2rem;
        border-radius: 1rem;
    }
}

footer {
    grid-area: 5 / 1 / 6 / 3;
}

#Introduccion {
    grid-area: 2 / 1 / 5 / 3;
}

#MenuMain{
    grid-area: 2 / 1 / 5 / 2;
    margin: 1.5rem;
    border-radius: 1rem;
    background-color: var(--color-main);
    overflow: auto;
    font-size: 0.8rem;
}

#Menu {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-size: 0.8rem;
    list-style-type: none;
    margin: 2rem;
    padding: 0;
    place-content: center;

    li {
        border-radius: 2rem;
        margin: 0.5rem;
        display: grid;
        grid-template-rows: auto;
        place-self: center;
        place-items: center;
        background-color: var(--color-main-2);
        padding: 0.5rem;
        width: 40%;
        height: 15rem;
    }
}

#menuCarrito{
    grid-area: 2 / 2 / 5 / 3;
    margin: 1.5rem;
    border-radius: 1rem;
    background-color: var(--color-main);
    font-size: 0.8rem;
}


